version: '3.3'
services:
  bot_nb:
    build:
      context: ./
    restart: always
    environment:
      DCtoken: ${DISCORD_BOT_TOKEN_NB}
      DBdatabase: gurglebot
      DBhost: gurglebot-db_gb-1
      DBusername: gurglebot
      DBpassword: ${DB_PASSWORD}
      config: ./config/nicashee.json

  bot_sb:
    build:
      context: ./
    restart: always
    environment:
      DCtoken: ${DISCORD_BOT_TOKEN_SB}
      DBdatabase: gurglebot
      DBhost: gurglebot-db_gb-1
      DBusername: gurglebot
      DBpassword: ${DB_PASSWORD}
      config: ./config/syfer.json

  bot_dgb:
    build:
      context: ./
    restart: always
    environment:
      DCtoken: ${DISCORD_BOT_TOKEN_DGB}
      DBdatabase: gurglebot
      DBhost: gurglebot-db_gb-1
      DBusername: gurglebot
      DBpassword: ${DB_PASSWORD}
      config: ./config/dungen_guardian.json

  bot_ttd:
    build:
      context: ./
    restart: always
    environment:
      DCtoken: ${DISCORD_BOT_TOKEN_TTD}
      DBdatabase: gurglebot
      DBhost: gurglebot-db_gb-1
      DBusername: gurglebot
      DBpassword: ${DB_PASSWORD}
      config: ./config/the_tavern_dnd.json

  bot_tvr:
    build:
      context: ./
    restart: always
    environment:
      DCtoken: ${DISCORD_BOT_TOKEN_TVR}
      DBdatabase: gurglebot
      DBhost: gurglebot-db_gb-1
      DBusername: gurglebot
      DBpassword: ${DB_PASSWORD}
      config: ./config/theVoreResort.json

  bot_fb:
    build:
      context: ./
    restart: always
    environment:
      DCtoken: ${DISCORD_BOT_TOKEN_FB}
      DBdatabase: fe
      DBhost: db_fe
      DBusername: fe
      DBpassword: ${DB_FE_PASSWORD}
      config: ./config/furbulous.json

  db_fe:
    image: mariadb:latest
    restart: always
    ports:
      - "${DB_FE_IP}:${DB_FE_PORT}:3306"
    volumes:
      - db_fe_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_FE_PASSWORD_ROOT}
      MYSQL_DATABASE: fe
      MYSQL_USER: fe
      MYSQL_PASSWORD: ${DB_FE_PASSWORD}

volume:
  db_fe_data:

networks:
  default:
    external:
      name: tdmnet
